
<div class="text-center">

    <h1 class="display-4">Каталог товаров</h1>
    <h3><a asp-controller="Product" asp-action="Detalies" asp-route-ind=0>Чебурек</a></h3>
    <h3><a asp-controller="Product" asp-action="Detalies" asp-route-ind=1>Пирожок</a></h3>
    
    
</div>
