@model Product
<div class="text-center">
    <h1 class="display-4">подробнее о продукте</h1>
    <h3>@Model.ProductName</h3>
    <p>Описание</p>
    <p><b>@Model.ProductDescription:</b></p>   
    <p><b>Соимость:</b>@Model.ProductCost р</p>
    
</div>
